<table style="width:780px; margin:0 auto; font-size:26px;">
  <tbody>
    <tr>
      <td style="border-bottom:3px solid black;padding:20px 0;">
        <a style="font-size:32px;text-decoration:none;color:black" target="__blank"
            href="{{domain}}">{{buttonTitle}}</a>
      </td>
    </tr>
    <tr>
      <td>
        <button style="width:100%;background-color:#185ACE; height:80px;margin-top:70px;">
          <a style="font-size:26px;text-decoration:none; color:white; display:flex; justify-content:center;align-items:center;" target="__blank"
            href="{{domain}}">{{buttonTitle}}</a>
        </button>
      </td>
    </tr>
  </tbody>
</table>
{{!-- {{#if button}}
<a href="{{button.link}}">{{button.title}}</a>
{{/if}} --}}